<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>Hi, I am app component but styled from the css file!!!</h3>
            <h4>Hi, I am app component but styled from the ts (inline) file!!!</h4>
            <input [(ngModel)]="title" type="text">
            <p>{{title}}</p>
            <hr>
            <h5>testing different selectors</h5>
            <app-servers></app-servers>   <!-- this is the most used type of selector -->
            <!-- <div app-servers></div>  -->      <!-- this is selecting by attribute (custom) --> 
            <div class="app-servers"></div>        <!--  this is selecting by class -->

        </div>
    </div>
</div>